#avatar {
  float: left;
}
.row {
  margin-bottom: 10px;
  overflow: hidden;
}
#cf-content {
  height: 150px;
}
textarea {
  padding: 5px;
}
#nc-disability {
  display: none;
}
#nc-disability [type="checkbox"] {
  margin-right: 10px;
}
#register-complete {
  padding: 30px;
}
.query-response {
  background-color: rgba(255, 255, 255, 0.4);
}
.query-response div {
  margin: 7px;
  font-size: 19px;
}
.query-response h3 {
  font-size: 31px;
}
.query-response ul {
  list-style-type: circle;
  padding-right: 35px;
}
#register-success {
  margin-top: 45px;
}
