#advanced-search {
  position: relative;
  margin-top: 50px;
}
#advanced-search h4 {
  font-size: 19px;
}
#advanced-search select {
  margin-right: 5px;
}
#as-options input + label {
  margin: 0 5px 2px 50px;
  display: inline-block;
}
#choose-gender {
  width: 360px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}
#choose-gender > div {
  width: 50%;
  float: right;
}
#choose-gender label {
  margin-right: 5px;
}
