#main-image {
	height: 400px;
	overflow: hidden;
}

#home-middle {
	margin-top: 10px;
}

#home-new-cards {
	float: left;
	position: relative;
	width: 33%;
	margin-top: 50px;
}

.card-box{
	padding: 5px;
	overflow: hidden;

	img{
		float: right;
		margin-left: 8px;
	}
}

.card-excerpt {
	display: table-cell;
	height: 80px;
	vertical-align: middle;
}

#home-content {
	float: right;
	width: 67%;
	font-size: 18px;

	h1 {
		font-size: 36px;
		color: #80021A;
	}

	h2 {
		font-size: 27px;
	}

	ol {
		counter-reset: li;

		li {
			position: relative;
			padding-right: 30px;
			margin-bottom: 10px;

			&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				right: 0;
				top: 5px;
				background-color: #414340;
				color: #FFF;
				font-size: 23px;
				padding: 0 8px;
				line-height: 1;
				height: 19px;
				border-radius: 5px;
			}
		}
	}
}