#primary {
  position: relative;
}
#primary.decorative:before {
  content: '';
  top: -4px;
  position: absolute;
  border-style: solid;
  border-width: 0 150px 6px 150px;
  border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
  right: 20px;
  z-index: 1;
}
#primary.decorative main {
  position: relative;
  border: 2px solid #A19491;
}
#primary.decorative main:before {
  content: '';
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(to bottom, #ffffff 50%, transparent);
}
#primary.decorative main:after {
  content: '';
  position: absolute;
  top: -2px;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to left, #ffffff 50%, transparent);
}
#main-form {
  position: relative;
  margin-top: 50px;
  clear: both;
}
#main-form h4 {
  font-size: 19px;
}
#main-form p select {
  margin: 0 8px 0 20px;
}
#mf-options {
  padding: 0 30px;
}
#mf-options [type="checkbox"] {
  clear: right;
}
#mf-options input + label {
  margin: 0 5px 2px 50px;
  display: inline-block;
}
#choose-gender {
  width: 360px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}
#choose-gender > div {
  width: 50%;
  float: right;
}
#choose-gender label {
  margin-right: 5px;
}
#main-form-background {
  background: url(../media/register-background.png) no-repeat;
  width: 670px;
  min-height: 1040px;
}
#main-title {
  padding: 0 20px;
  display: inline-block;
  background-color: #87767C;
  -webkit-transform: skewx(-7deg);
  -moz-transform: skewx(-7deg);
  -ms-transform: skewx(-7deg);
  color: #FFF;
  position: relative;
  top: -4px;
  font-size: 29px;
  font-weight: bold;
  right: 50px;
  z-index: 1;
}
#main-title:before {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  border-width: 0 5px 4px 0;
  border-style: solid;
  border-color: #634F54 transparent;
}
#submit {
  text-align: center;
  margin-top: 30px;
}
.label-top {
  float: right;
  padding: 0 0 10px 20px;
}
.label-top label {
  display: block;
  line-height: 1;
}
.label-top input,
.label-top select {
  width: 100%;
  height: 30px;
}
.w25 {
  width: 25%;
}
.w12 {
  width: 12.5%;
}
.w33 {
  width: 33.33%;
}
.w16 {
  width: 16.66666666666667%;
}
#register-success h3 {
  font-weight: bold;
  font-size: 27px;
}
#register-success p {
  font-size: 19px;
}
#response-error {
  border-color: #dd3d36;
}
#cf-disability span {
  display: block;
}
