article h1 {
  color: #7E131F;
  margin: 45px 0 5px;
  font-size: 42px;
  font-weight: bold;
}
#excerpt {
  font-weight: bold;
  font-size: 21px;
}
#main-image {
  float: left;
  margin: 0 10px 10px 0;
}
#article-content {
  font-family: arial, sans-serif;
  font-size: 15px;
}
