#secondary {
	padding: 0 14px;
	text-align: center;
}

#cards-count {
	border: 1px solid;
	border-color: #CCC #CCC #BBB #CCC;
	border-radius: 3px;
	background: #FFF;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	padding: 2px 40px;
	font-size: 18px;
}

.side-box {
	border: 1px solid #A29491;
	border-top-width: 7px;
	width: 85%;
	display: inline-block;
	margin: 45px 0 5px;
	position: relative;
}

#loginform {
	padding: 15px 15px 0;

	p {
		overflow: hidden;
		margin-bottom: 5px;
	}

	label {
		float: right;
	}

	input[type="text"], input[type="password"] {
		float: left;
		height: 25px;
		width: 65%;
	}

	.login-submit {
		float: left;
	}

	.login-register {
		float: right;
	}
}

.login-lost-password {
	float: left;
}