article {
	height: 947px;
}

.card-side-box {
	margin-top: 20px;

	.title {
		font-size: 19px;
		height: 28px;
		line-height: 28px;
	}
}

#treat-card {
	padding-left: 50px;

	> div {
		background-color: #FFF;
		float: left;
		font-size: 19px;
		padding: 0 15px;
		border-radius: 0 0 5px 5px;
		border: 1px solid #AFA4A2;
		border-top: none;
		box-shadow: 1px 2px 7px rgba(0,0,0,0.2);
		margin: 0 5px;

	}
}

.card-meta li {
	width: 100%;
}

.card-content h2 {
	font-size: 27px;
}

.card-details {
	border-bottom: 4px solid #A19491;
}

.meta-label {
	font-size: 23px;
}

.meta-value {
	font-size: 21px;
	line-height: 1.5;
}