article {
  height: 947px;
  position: relative;
}
.card-side-box .title {
  font-size: 19px;
  height: 28px;
  line-height: 28px;
}
.cdb-content {
  font-size: 19px;
}
.cdb-content .row {
  padding-right: 5px;
  overflow: hidden;
}
.cdb-content .row > * {
  float: right;
  line-height: 1;
  padding: 5px 0;
}
.cdb-content .label {
  font-weight: bold;
}
.cdb-content .term {
  padding: 6px;
}
#card-manager {
  text-align: center;
}
#treat-card {
  padding-left: 50px;
}
#treat-card > div {
  background-color: #FFF;
  float: left;
  font-size: 19px;
  padding: 0 15px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #AFA4A2;
  border-top: none;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}
.card-meta li {
  width: 100%;
}
.card-content h2 {
  font-size: 27px;
}
.card-details {
  border-bottom: 4px solid #A19491;
}
.meta-label {
  font-size: 19px;
}
.meta-value {
  font-size: 19px;
  line-height: 1.6;
}
.card-avatar {
  margin-bottom: 20px;
}
.query-response {
  margin: 10px 13px 0 8px;
}
#card-id {
  padding: 1px 8px;
  position: absolute;
  bottom: 20px;
  right: -1px;
  line-height: 1;
  font-size: 15px;
  color: #1D1D52;
  background-color: #FFF;
  border-radius: 10px 0 0 10px;
  border: 1px solid #DBDBDB;
}
