#register-wrapper {
  margin-top: 80px;
}
#register legend {
  font-size: 19px;
  font-weight: bold;
}
#register [type='radio'] {
  vertical-align: text-top;
}
#register [type='radio'] + label {
  margin: 0 5px 0 30px;
}
#register fieldset {
  margin-bottom: 20px;
}
#register button {
  float: left;
}
.label-top {
  float: right;
  margin: 0 0 10px 20px;
  width: 30%;
}
.label-top label {
  display: block;
  line-height: 1;
}
.label-top input,
.label-top select {
  width: 100%;
  background-color: transparent;
  height: 30px;
}
#user-agree div {
  line-height: 1.8;
}
#register-error {
  background-color: #FFF;
  padding-right: 20px;
  border-right: 4px solid #dd3d36;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
#register-error strong {
  font-weight: bold;
}
#register-success h3 {
  font-weight: bold;
  font-size: 19px;
}
