#register-wrapper {
	margin: 80px 25px 0;
}

#register {

	legend {
		font-size: 19px;
		font-weight: bold;
	}

	[type='radio'] {
		vertical-align: text-top;

		+ label {
			margin: 0 5px 0 30px;
		}
	}

	[type="checkbox"] {

	}

	fieldset {
		margin-bottom: 20px;
	}

	button {
		float: left;
	}
}

.label-top {
	float: right;
}

#user-agree {

	div {
		line-height: 1.8;
	}
}